---
import Layout from "../../layouts/Layout.astro";

import { Icon } from "astro-icon/components";

import DynamicTable from "../../components/DynamicTable.astro";
import { apiController } from '../../scripts/request.js';
import { Image } from 'astro:assets';
import {convertDateTime} from "../../scripts/utils.js";
import CardContentPage from "../../components/CardContentPage.astro";
import ButtonAction from "../../components/ButtonAction.astro";
import ToastNotification from "../../components/ToastNotification.astro";

const locals:any = Astro.locals;

let errors = {all: [] };
let successMessage = {all: []};


const responseData = await apiController(import.meta.env.PUBLIC_BASE_URL,'/auditorias','GET',null,locals.token);

const auditorias = Array.isArray(responseData.data) ? responseData.data : [];

if(responseData.data.errors || responseData.code !== 200){
    errors.all = responseData.data.errors ? responseData.data.errors : [];
}//else{
//    successMessage.all = [responseData.message];
//}

---
<Layout title="Dashboard" bodyClass="bg-gray-100">
    
    <CardContentPage>
            <div class="flex items-center">
                <div class="w-48"></div>
                <h2 class="font-semibold text-custom-secundary text-xl text-center flex-grow">Historial de Actividades</h2>
                
                <div class="w-48"></div>
            </div>
                
            <DynamicTable 
                columnas={[
                    "Nº",
                    "Rol",
                    "Usuario",
                    "Actividad",
                    "IP",
                    "Fecha de Registro",
                    "Hora de Registro",
                ]}>
                {auditorias.map((auditoria, index) => (
                    
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="w-4 p-4">
                        {index+1}
                        </td>
                        <td>{auditoria.rol_id}</td>
                        <td>{auditoria.usuario_id}</td>
                        <td>{auditoria.ruta}</td>
                        <td>{auditoria.ip_cliente}</td>
                        <td>{auditoria.created_at}</td>
                        <td>{auditoria.created_at}</td>

                    </tr>
                ))}
            </DynamicTable>
    </CardContentPage>
    {errors.all.length > 0 && <ToastNotification slot="toast" type={'error'} textArray={errors.all}/>}
    {successMessage.all.length > 0 && <ToastNotification slot="toast" type={'success'} textArray={successMessage.all}/>}
</Layout>
