---
import Layout from "../../../layouts/Layout.astro";

import { Icon } from "astro-icon/components";
import CardContentPage from "../../../components/CardContentPage.astro";
import { apiController } from '../../../scripts/request.js';
import { convertDateTime } from '../../../scripts/utils.js';
import { formatearNumeroControl, obtenerNumeroMes, formatNumber, findPlaceholder } from '../../../scripts/utils.js';
import DynamicTable from "../../../components/DynamicTable.astro";

const params = Astro.url.searchParams;

const tipoBusqueda = params.get('tipoBusqueda');
let responseData;
let responseDataCliente;
let dataTable = [];
let dataCliente:any = {};
let data_tipos_documentos = {};

const locals:any = Astro.locals;

let errors = {all: [] };
let successMessage = {all: []};

const cliente_id = Astro.url.searchParams.get('c');
responseData = await apiController(import.meta.env.PUBLIC_BASE_URL,`/consultasCliente/${cliente_id}/getDataBusqueda${Astro.url.search}`,'GET',null,locals.token);
//console.log(responseData);
dataTable = Array.isArray(responseData.data) ? responseData.data : [];

if(responseData.data.errors || responseData.code !== 200){
    errors.all = responseData.data.errors ? responseData.data.errors : [];
}


responseDataCliente = await apiController(import.meta.env.PUBLIC_BASE_URL,`/clientes/${cliente_id}`,'GET',null,locals.token);
dataCliente = responseDataCliente.data;

data_tipos_documentos = JSON.parse(dataCliente.name_bd_column_tipo_documento_format);
console.log(data_tipos_documentos);

---

<Layout title="Dashboard" bodyClass="bg-gray-100">
    <CardContentPage>
        <div class="flex justify-between items-center p-6">
            <div></div>
            <h1 class="text-2xl ml-8">Resultado de consulta</h1>
        
            <div class="flex space-x-4">
                <!-- Aquí van tus iconos -->
                <i class="icono1 cursor-pointer"><a id="download-btn"><Icon name="file-type-xml" class="text-2xl" /></a></i>
                <i class="icono2"><a href=""><Icon name="file-type-pdf" class="text-2xl" /></a></i>
                <i class="icono3"><a href=""><Icon name="file-type-csv" class="text-2xl" /></a></i>
            </div>
        </div>
    
        <div class="relative overflow-x-auto">
            <DynamicTable
            id="data-table" 
            addClassTable="tableBusqueda"
            isScroll={true}
            sizeText="text-xs"
            columnas={[
                "Actividad",
                "Nº de Control",
                "Nº de Documento",
                "Tipo de Documento",
                "Código de Operación",
                "Serie",
                "Fecha de Emisión",
                "Hora Emisión",
                "Fecha de Asig",

                
                "RIF/CI",
                
                "Total Neto a Pagar",
                "Monto IGTF",
                "Total Pagar",
                "Base Imponible IVA",
                "Monto IVA",
                "Monto Exento",
                "Monto No Sujeto",
                //"Razón Social",
                "Status",
                "Motivo Anulación",
                "Fecha y Hora Anulación",
            ]}
            >
            {dataTable.map((data, index) => (
                <tr id={"row-"+data.numero_control} class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td hidden>{data.numero_control}</td>
                    <td hidden class="correo_cliente">{data.correo_cliente}</td>
                    <td hidden class="telefono_cliente">{data.telefono_cliente}</td>
                    <td hidden class="rif_prestador">{data.rif_prestador}</td>
                    <td>
                        <b>
                            <a target="_blank" href=`${import.meta.env.PUBLIC_BASE_URL}/consultas/cliente/${cliente_id}/getpdf/${data.numero_control}/${data.tipo_documento}/${data.numero_documento}/${obtenerNumeroMes(data.fecha_emision)}/${data.encrypt}?encrypt_others=${data.encrypt_others}&token=${locals.token}`>PDF</a> <br>
                            <a href="#" class="ver-xml" data-index={data.numero_control}>XML</a>
                        </b>
                    </td>
                    <td class="p-4 numero_control">{formatearNumeroControl(data.numero_control)}</td>
                    <td class="numero_documento">{data.numero_documento}</td>
                    <td class="tipo_documento">{findPlaceholder(data_tipos_documentos,data.tipo_documento)}</td>
                    <td class="codigo_operacion">{data.codigo_operacion}</td>
                    <td class="serie">{data.serie}</td>
                    <td class="fecha_emision">{convertDateTime(data.fecha_emision, "DD-MM-YYYY")}</td>
                    <td class="hora_emision">{data.hora_emision}</td>
                    <td class="fecha_asignacion">{convertDateTime(data.fecha_asignacion, "DD-MM-YYYY")}</td>
                    <td class="rif">{data.rif}</td>

                    <td class="neto_pagar">{formatNumber(data.neto_pagar)}</td>
                    <td class="igtf">{formatNumber(data.igtf)}</td>
                    <td class="total_pagar">{formatNumber(data.total_pagar)}</td>
                    <td class="base_imponible">{formatNumber(data.base_imponible)}</td>
                    <td class="monto_iva">{formatNumber(data.monto_iva)}</td>
                    <td class="monto_exento">{formatNumber(data.monto_exento)}</td>
                    <td class="monto_no_sujeto">{formatNumber(data.monto_no_sujeto)}</td>
                    {/* <td><p class="truncate text-xs w-52">{data.razon_social}</p> </td> */}
                    <td class="status">{data.status !== '' ? (data.status == 0 || data.status == "false" ? "Activa" : data.status == 1 || data.status == "true" ? "Anulada" : data.status) : 'Activa'}</td>
                    <td class="motivo_anulacion">{data.motivo_anulacion ? data.motivo_anulacion : '-'}</td>
                    <td class="fecha_anulacion"> {data.fecha_anulacion || data.hora_anulacion ? `${data.fecha_anulacion ?? ''} ${data.hora_anulacion ?? ''}`.trim() : '-'}</td>
                </tr>
            ))}
        </DynamicTable>
        </div>

    </CardContentPage>


</Layout>

<script>
    import {getQueryParam} from "../../../scripts/utils.js";
    
    function buscarYResaltar(valor) {
        // Selecciona todas las filas en la tabla
        
            var filas:any = document.querySelectorAll('.tableBusqueda tr');

            // Selecciona el div que contiene la tabla
            var div:any = document.querySelector('.div_tableBusqueda');

            // Itera sobre las filas
            for (var i = 0; i < filas.length; i++) {
                // Si la fila contiene el número de control
                if (filas[i].textContent.includes(valor)) {
                    // Pinta la fila de azul
                    filas[i].style.backgroundColor = '#4e4f9d';
                    filas[i].classList.add('text-white');
                    // Enfoca la fila en el div
                    div.scrollTop = filas[i].offsetTop - div.offsetTop - div.clientHeight / 2 + filas[i].clientHeight / 2;
                }
            }
        
    }


    async function init() {
       
        
        // Selecciona todas las filas en la tabla
        let numero_control = getQueryParam('numero_control');
        let numero_documento = getQueryParam('numero_documento');

        if(numero_control){
            buscarYResaltar(Number(numero_control.replace(/-/g, '').replace(/^0+/, '')));
        }

        if(numero_documento){
            let hasLetters = /[a-zA-Z]/.test(numero_documento);
            if(hasLetters){//si contiene letras
                buscarYResaltar(numero_documento);
            }else{
                buscarYResaltar(Number(numero_documento.replace(/-/g, '').replace(/^0+/, '')));
            }
        }
    }

  // Inicializar en la primera carga
  init();

  // Reinicializar después de cambiar de página
  document.addEventListener("astro:after-swap", init);

</script>


<script>
    import {generateXML, downloadXML, collectRowData} from "../../../scripts/generateXML";

    
    document.getElementById('download-btn').addEventListener('click', () => {
        const table = document.getElementById('data-table');
        const data = [];
        const rows = table.querySelectorAll('tbody tr');
        rows.forEach(row => {
            const rowData = collectRowData(row);
            data.push(rowData);
        });
        const xml = generateXML(data);
        downloadXML(xml, 'XML.xml');
    });

    function generarXMLIndividual(row) {
        const rowData = collectRowData(row);
        const xml = generateXML([rowData]);
        downloadXML(xml, `XML-DOC-${rowData.NumeroDocumento}.xml`);
    }

    document.addEventListener('click', (event:any) => {
        if (event.target.matches('.ver-xml')) {
            const index = event.target.getAttribute('data-index');
            const row = document.getElementById(`row-${index}`);
            generarXMLIndividual(row);
        }
    });
</script>

<script>
import { obtenerCookie, getQueryParam, obtenerNombreDelMes, getAllQueryParams, getQueryString } from "../../../scripts/utils.js";
import { apiController } from '../../../scripts/request.js';
import { formatearNumeroControl, obtenerNumeroMes, formatNumber, findPlaceholder } from '../../../scripts/utils.js';
import { convertDateTime } from '../../../scripts/utils.js';

let cliente_id = getQueryParam('c');
var cookies = obtenerCookie('others');
var objeto = JSON.parse(cookies);
var parametros = getQueryString(getAllQueryParams());

document.addEventListener('DOMContentLoaded', function() {
    const table = document.getElementById('data-table');
    const divtable = document.querySelector('.div_tableBusqueda');
    const tbody = table.querySelector('tbody');
    let page = 1; // Página inicial
    let limit =  10;
    let offset = (page - 1) * limit + 1;
    
    let loading = false; // Estado de carga

    // Función para cargar datos desde la API
    async function loadMoreData(page, offset) {
        loading = true;
        try {
           
            const response = await apiController(import.meta.env.PUBLIC_BASE_URL, `/consultasCliente/${cliente_id}/getDataBusqueda?${parametros}&limit=${limit}&offset=${offset}`, 'GET', null, objeto.token);
            if (response.code !== 200 || response.data.errors) {
                alert('Error al cargar los datos');
            } else {
                appendRows(response.data);
            }
        } catch (error) {
            console.error('Error al cargar los datos:', error);
        }
        loading = false;
    }

    // Función para añadir filas a la tabla
    function appendRows(data) {
        data.forEach(item => {
            const row = document.createElement('tr');
            row.setAttribute('id', 'row-' + item.numero_control);
            row.innerHTML = `
                <td hidden>${item.numero_control}</td>
                <td hidden class="correo_cliente">${item.correo_cliente}</td>
                <td hidden class="telefono_cliente">${item.telefono_cliente}</td>
                <td hidden class="rif_prestador">${item.rif_prestador}</td>
                <td>
                    <b>
                        <a target="_blank" href="${import.meta.env.PUBLIC_BASE_URL}/consultas/cliente/${cliente_id}/getpdf/${item.numero_control}/${item.tipo_documento}/${item.numero_documento}/${obtenerNumeroMes(item.fecha_emision)}/${item.encrypt}?encrypt_others=${item.encrypt_others}&token=${objeto.token}">PDF</a> <br>

                        <a href="#" class="ver-xml" data-index="${item.numero_control}">XML</a>
                    </b>
                </td>
                <td class="p-4 numero_control">${formatearNumeroControl(item.numero_control)}</td>
                <td class="numero_documento">${item.numero_documento}</td>
                <td class="tipo_documento">${item.tipo_documento}</td>
                <td class="codigo_operacion">${item.codigo_operacion}</td>
                <td class="serie">${item.serie}</td>
                <td class="fecha_emision">${convertDateTime(item.fecha_emision, "DD-MM-YYYY")}</td>
                <td class="hora_emision">${item.hora_emision}</td>
                <td class="fecha_asignacion">${convertDateTime(item.fecha_asignacion, "DD-MM-YYYY")}</td>
                <td class="rif">${item.rif}</td>
                <td class="neto_pagar">${formatNumber(item.neto_pagar)}</td>
                <td class="igtf">${formatNumber(item.igtf)}</td>
                <td class="total_pagar">${formatNumber(item.total_pagar)}</td>
                <td class="base_imponible">${formatNumber(item.base_imponible)}</td>
                <td class="monto_iva">${formatNumber(item.monto_iva)}</td>
                <td class="monto_exento">${formatNumber(item.monto_exento)}</td>
                <td class="monto_no_sujeto">${formatNumber(item.monto_no_sujeto)}</td>
                <td class="status">${item.status !== '' ? (item.status == 0 || item.status == "false" ? "Activa" : item.status == 1 || item.status == "true" ? "Anulada" : item.status) : 'Activa'}</td>
                <td class="motivo_anulacion">${item.motivo_anulacion ? item.motivo_anulacion : '-'}</td>
                <td class="fecha_anulacion">${item.fecha_anulacion || item.hora_anulacion ? `${item.fecha_anulacion ?? ''} ${item.hora_anulacion ?? ''}`.trim() : '-'}</td>
            `;
            tbody.appendChild(row);
        });
    }

    // Inicialmente cargamos la primera página de datos
    //loadMoreData(page);

    // Evento de scroll para cargar más datos al llegar al final de la tabla
    divtable.addEventListener('scroll', function() {
        if (divtable.scrollTop + divtable.clientHeight >= divtable.scrollHeight - 500 && !loading) {
            page++;
            offset = (page - 1) * limit + 1;
            console.log('Cargando más datos, página:', page);
            loadMoreData(page, offset);
        }
        if (divtable.scrollTop === 0 && !loading) {
           
        }
    });
});

</script>