---
import { Icon } from 'astro-icon/components';
import InputField from "./InputField.astro";
import ButtonAction from "./ButtonAction.astro";

interface Props {
	id?: string;
	value: string;
	text: string;
	icon: string;
	color: string;
	addClassValue?: string;
	tipo_busqueda: string;
	input: "day" | "date" | "month";
}

const { id ,value = '0', text = 'Titulo', icon = 'chart-bar' , color = 'bg-gradient-to-r from-custom-secundary to-custom-tertiary', addClassValue, tipo_busqueda, input} = Astro.props;
const tipo = input == "month" ? "month" : 'date';
let textInput, espaciadoInput;

if (input == "month") {
    textInput = "Se obtiene por año y mes.";
	espaciadoInput = "col-span-8";
} else if (input == "date") {
    textInput = "Se obtiene por rango de fecha.";
	espaciadoInput = "col-span-4";
} else if(input == "day") {
    textInput = "Se obtiene por fecha.";
	espaciadoInput = "col-span-8";
}
---
<div id={id} class=`bg-white p-5 mt-5 rounded-xl shadow-md`>
	<div class="grid grid-cols-2">
		<div class=`flex bg-custom-Sedenary w-20 h-20 items-center justify-center -mt-10 rounded-md ${color}`>
			<Icon name={icon} class="text-4xl text-white"/>
		</div>
		<div class=" justify-end text-right text-gray-500 mb-6">
				Reporte
			<h2 class="text-right text-gray-500 text-2xl">
				{text}
			</h2>
		</div>
	</div>
	<hr>
    <div class="truncate flex text-gray-500 items-center"><Icon name="calendar-month" class="text-xl mt-1 mr-2" /><p class="text-xs pt-1">{textInput}</p></div>
	<form method="post">
		<div class="grid grid-cols-4 md:grid-cols-10 gap-4 mt-2">
			{ (input == 'day' || 'date' || 'month') &&
				<div class=`${espaciadoInput}  items-center justify-center`>
					<input required class="w-full px-4 py-3 mx-2 rounded-full focus:border-blue-500 border-none text-sm bg-custom-quaternary select-none" type={tipo} name="fecha_inicio" />
				</div>
			}

			{ (input == 'date') &&
				<div class=`${espaciadoInput}  items-center justify-center`>
					<input required class="w-full px-4 py-3 mx-2 rounded-full focus:border-blue-500 border-none text-sm bg-custom-quaternary select-none" type="date" name="fecha_final" />
				</div>
			}	
			<div class="col-span-4 md:col-span-2  items-center justify-center flex">
				<button class="text-center truncate w-full bg-gradient-to-r from-custom-secundary to-custom-tertiary text-white rounded-full py-3 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 capitalize flex items-center justify-center">
				<Icon name="search" class="text-xl text-white"/>
				<span class="md:hidden pl-2">Buscar</span>
				</button>

				<input required class="hidden" type="text" name="tipo_reporte" value={tipo_busqueda}/>
			</div>
		</div>
	</form>
	  
	  
</div>