---
import { Icon } from 'astro-icon/components'

interface Props {
	id: string;
	name?: string;
	icon: string;
	text: string;
  value?: string;
  checked?: boolean;
  add_class: string;
}


const { id, name, icon, text, add_class, value, checked} = Astro.props;

---

<style>
    [data-icon="logo"] {
        font-size: 2rem;
        color: var(--brand-color);
    }
</style>

<div class=`relative flex items-center ${add_class}`>
    <input
      id={id}
      name={name}
      type="checkbox"
      value={value}
      checked={checked}
      class="appearance-none w-6 h-6 rounded-full border-2 border-gray-400 checked:bg-custom-primary checked:border-transparent focus:outline-none transition-all duration-300 mr-2"
    />
    <label for={id} class="text-sm cursor-pointer select-none">
        {text}
    </label>
</div>
  