---
import { Icon } from 'astro-icon/components'

interface Props {
    name: string;
    id?: string;
    rounded?: 'rounded-full' | 'rounded-r-full' | 'rounded-l-full';
    addClass?: string;
    addClassSelect?: string;
    icon?: string;
    addWith?: 'w-full' | 'w-auto';
    multiple?: boolean;
    disabled?: boolean;
    options?: {value: string, label: string}[];
    value?: string;
    placeholder?: string;
    iconSize?: number;
}

const {id, name, rounded = '', addClass = '', icon = '', addWith = "w-full", multiple = false, disabled = false, options = [], value, placeholder, iconSize, addClassSelect} = Astro.props;

---

<div class=`w-full inline-flex items-center bg-custom-quaternary select-container ${rounded} ${addClass}`>
    {icon !== '' &&
        <Icon name={icon}  class=" left-0  pointer-events-none ml-3 text-custom-primary" size={iconSize} />
    }
    
    <select id={id} name={name} class=`${addWith} py-2.5 text-sm text-gray-600 bg-custom-quaternary text-custom-select border-none focus:outline-none focus:ring-0 ${rounded} ${addClassSelect}` multiple={multiple} disabled={disabled}>
        {placeholder && <option value="" disabled>{placeholder}</option>}
        {options.map(option => 
            <option value={option.value} selected={option.value === value}>{option.label}</option>
        )}
    </select>
</div>
