---
import  { ViewTransitions }  from 'astro:transitions';
import Sidebar from "../components/Sidebar.astro";
import Navbar from "../components/Navbar.astro";
import Head from "./includes/Head.astro";
import SearchBar from "../components/SearchBar.astro";

interface Props {
	title: string;
	subTitle?: string;
	bodyClass?: string;
	isSearchBar?: boolean;
}
const locals:any = Astro.locals;

const { title, subTitle = 'Seleccione su consulta', bodyClass = '', isSearchBar = true} = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} />
	<body class={bodyClass}>
		<div class="flex">
			<div>
				<Sidebar locals={locals} />
			</div>
			<div class="flex-grow">
				<div  class="h-full bg-custom-quaternary transition-all duration-300">
					<Navbar />
					<SearchBar isSearchBar={isSearchBar} subTitle={subTitle}/>
					<slot />
				</div>
			</div>
		</div>
		
		<slot name="toast" />
	
		<script>
			import { initFlowbite } from 'flowbite'
			import tippy from 'tippy.js';
			import 'tippy.js/dist/tippy.css'; // optional for styling

			import {obtenerCookie, getQueryParam} from "../scripts/utils.js";
			import { createTour } from '../scripts/tour.js';

			var cookies = obtenerCookie('others');
			var objeto = JSON.parse(cookies);

			let stepsJson = [
			{
				ruta: "/dashboard/clientes/home",
				tour: [{
				title: "Mi primer paso",
				text: "Este es el primer paso de nuestro tour!",
				element: ".card_chart_1"
				},
				{
				title: "Mi segundo paso",
				text: "Este es el segundo paso de nuestro tour!",
				element: ".card_chart_2"
				}]
			},
			{
				ruta: "/dashboard/clientes",
				tour: [
				{
					title: "Mi primer paso",
					text: "Este es el primer paso de nuestro tour!",
					element: ".card_table"
				}
				]
			}
			
			];
			
			

			function init() {
				tippy('[data-tippy-content]');
				initFlowbite();
				if(objeto.is_tour == "1"){
					createTour(stepsJson);
				}
			}

			// Inicializar en la primera carga
			init();

			// Reinicializar después de cambiar de página
			document.addEventListener("astro:after-swap", init);
		</script>
	</body>
</html>
<script>
	  
</script>